.icn{
    display: flex;
    color: #EF6820;
    gap:10px;
    align-items: center;
   
}
.icn h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.links{
    margin: 0px 100px;
    align-items: center;
}
ul li{
    padding: 0px 15px;
   word-wrap: normal;
   white-space: nowrap;
}
li button{
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 16px 26px;
    color: white;
    background-color: #EF6820;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    background-color: #FFFFFF;
    align-content: center;
    height: 136px;
}
.nav-links{
display:none
}
.nav-mobile{
    display: none;
}
@media screen and (max-width: 700px) {
    .nav-mobile{
        display: block;
    }
    .cnt {
        display: none;
    }
    .links{
        display: none;
    }
    .navbar{
        padding: 0px 40px;
        justify-content: space-between;
        height: 70px;
    }
    .icn{
        gap:5px;
    }
    ul {
        display: block;
        padding: 0px 10px;
   
    }  
    ul li{
        height: 25px;
        background-color: #EF6820;
        padding: 0px ;
        color: #FFFFFF;
        text-align: center;
        margin-top: 10px;
    } 
    .nav-links{
        display:block;
        position: absolute;
        width: 100%;
        background-color: white;
    }
}